.card {
    height: 440px;
    top: 14%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    .img {
        width: 100%;
        height: 230px;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    ion-card-header {
        text-align: center;
    }
}

.texto {
    border-radius: 5px;
    max-width: 285px;
    margin: auto;
    max-height: 115px;
    .modificar {
        display: flex;
        align-items: center;
    }
}

.lb {
    cursor: pointer;
}
